[submodule "src/third_party/PENF"]
  path = src/third_party/PENF
  url = git@github.com:mathomp4/PENF.git
  branch = add_fpic
[submodule "src/third_party/fortran_tester"]
  path = src/third_party/fortran_tester
  url = https://github.com/pdebuyl/fortran_tester
  branch = master
[submodule "src/third_party/FACE"]
  path = src/third_party/FACE
  url = git@github.com:mathomp4/FACE.git
  branch = add_fpic
